.chat {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chat #chatOutput {
    overflow-y: scroll;
    height: 280px;
    width: 100%;
    border: 1px solid #636363;
    text-align: left;
}

.chat #chatOutput p{
    margin:0;
    padding:5px;
    word-break: break-all;
    font-size: 20px;
}

.chat #chatInput {
    width: 75%;
    font-size: 20px;
    color: #222222;
    max-width: 900px;
}

.chat #chatSend {
    height: 50px;
    width: 80px;
    margin-left: 120px;
}
